<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>${console.encoding:-${file.encoding}}</charset>
      <pattern>%d{HH:mm:ss.SSS} %level [%t] %logger -> %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate" level="WARN" />
  <logger name="fr.gaellalire.vote.actor.citizen" level="INFO" />
  

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
